resourcepacks/
.mixin.out/
.world-host-cache/
backups/
cache/
controllable_natives/
fancymenu_data/
logs/
modernfix/
patchouli_books/
quests_structures/
saves/
shaderpacks/
debug.log
minecraftinstance.json
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
local/crash_assistant
mods/mcef-cache
mods/mcef-libraries
mods/wesley*